* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: roboto;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

main {
    width: 400px;
    padding: 20px;
    border-radius: 10px;
    background-color: rgb(188, 188, 188);
}

h1 {
    background: -webkit-linear-gradient(180deg, #1d67fb, #d2115b);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}